<section class="m-4">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" (click)="addUser()">Add User</button>
  </div>
  <div class="card card bg-white shadow-sm p-4">
    <div class="d-flex justify-content-between">
      <h4>Users</h4>
      <button class="btn btn-outline-primary btn-sm mr-2 px-5"
              (click)="showFilter = !showFilter ">{{ showFilter ? 'Close' : 'Filter' }}
      </button>
    </div>
    <div class="my-3 p-4 card" *ngIf="showFilter" @fadeSlideInOut>
      <form [formGroup]="filterForm">
        <div class="d-flex">
          <div class="col-md-4 col-sm-12 me-5">
            <label for="name" class="form-label">Name</label>
            <span class="color-red">*</span>
            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter name">
          </div>
          <div class="mb-3 col-md-4 col-sm-12">
            <label for="name" class="form-label">Email</label>
            <span class="color-red">*</span>
            <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter email">
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary btn-sm mr-2 px-5 me-3" (click)="clearFilter()">Cancel</button>
          <button class="btn btn-outline-primary btn-sm mr-2 px-5" (click)="submitForm()">Apply</button>
        </div>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table small" id="" aria-describedby="Users table">
        <thead class="gray-thead">
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Email</th>
          <th>Company Name</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody *ngIf="isLoading">
        <tr>
          <td colspan="5">
            <div class="text-center">
              loading
              <!--            <app-loading-spinner></app-loading-spinner>-->
            </div>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="!isLoading">
        <tr *ngIf="tableError">
          <td colspan="5">
            <div class="mx-auto justify-content-center flex-wrap text-center">
              Error occurred when retrieving records
            </div>
          </td>
        </tr>

        <tr
          *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: 1, totalItems: 10, id :'users-table' }"
          [ngClass]="{'missing-company': user.company.name}">
          <td [ngClass]="{'missing-company': !user.company.name}">
            <img *ngIf="pattern.test(user.name)" class="svg-size" [src]="'../../assets/svg/man.svg'" alt="man-svg">
            <img *ngIf="!pattern.test(user.name)" class="svg-size" [src]="'../../assets/svg/woman.svg'" alt="woman-svg">
          </td>
          <td [ngClass]="{'missing-company': !user.company.name}">{{ user.name }}</td>
          <td [ngClass]="{'missing-company': !user.company.name}">{{ user.email }}</td>
          <td [ngClass]="{'missing-company': !user.company.name}">{{ user.company.name }}</td>
          <td [ngClass]="{'missing-company': !user.company.name}">{{ user.phone }}</td>
          <td [ngClass]="{'missing-company': !user.company.name}" class="text-secondary text-left">
            <div class="btn-group" dropdown>
              <i id="button-animated" dropdownToggle class="fa-solid fa-ellipsis"
                 aria-controls="dropdown-animated">
                <i class="fa-solid fa-ellipsis cursor-pointer">...</i>
              </i>
              <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-animated">
                <li role="menuitem"><a class="dropdown-item"
                                       [routerLink]="['/users', user.id]">View</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-pagination
    [paginationId]="'users-table'"
    [paginationConfig]="paginationConfig"
    (onPaginationChange)="paginationChange($event)">

    </app-pagination>
  </div>
</section>
